In [1]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('yathzee-dataset.csv')

In [3]:
df

      dice1  dice2  dice3  dice4  dice5           label
0         3      6      6      2      5         nothing
1         3      6      1      3      4         nothing
2         2      2      5      5      3         nothing
3         1      3      6      6      1         nothing
4         1      4      6      3      5  small-straight
...     ...    ...    ...    ...    ...             ...
5827      5      6      6      5      5      full-house
5828      1      3      1      2      3         nothing
5829      1      1      5      5      3         nothing
5830      3      3      6      4      2         nothing
5831      5      2      1      1      5         nothing

[5832 rows x 6 columns]

In [4]:
df.describe()

             dice1        dice2        dice3        dice4        dice5
count  5832.000000  5832.000000  5832.000000  5832.000000  5832.000000
mean      3.485425     3.495370     3.485597     3.477366     3.513032
std       1.709014     1.708768     1.708714     1.719131     1.711633
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%       2.000000     2.000000     2.000000     2.000000     2.000000
50%       3.000000     3.000000     3.000000     3.000000     4.000000
75%       5.000000     5.000000     5.000000     5.000000     5.000000
max       6.000000     6.000000     6.000000     6.000000     6.000000

In [5]:
yahtzee_types = df['label'].drop_duplicates()

yaht_types_df = pd.DataFrame(yahtzee_types, columns=['label']).reset_index()

enc = OneHotEncoder(handle_unknown='ignore')

enc_df = pd.DataFrame(enc.fit_transform(yaht_types_df[['label']]).toarray())

yaht_types_df = yaht_types_df.join(enc_df)
yaht_types_df
#classes = pd.get_dummies(df['label'].drop_duplicates())
#classes

   index            label    0    1    2    3    4    5    6
0      0          nothing  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1      4   small-straight  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2      6  three-of-a-kind  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3     19   large-straight  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4     21       full-house  0.0  1.0  0.0  0.0  0.0  0.0  0.0
5     52   four-of-a-kind  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6   1101          yathzee  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing
from sklearn.model_selection import train_test_split

In [7]:
features = ['dice1', 'dice2', 'dice3', 'dice4', 'dice5']
outputs = [0, 1, 2, 3, 4, 5, 6]

result = pd.merge(df, yaht_types_df, how='left', on='label')
result = result.drop(columns=['index'])
result

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
0,3,6,6,2,5,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,3,6,1,3,4,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,2,5,5,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,3,6,6,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,4,6,3,5,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5,6,6,5,5,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5828,1,3,1,2,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5829,1,1,5,5,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5830,3,3,6,4,2,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5831,5,2,1,1,5,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
        result[features], result[outputs], test_size=0.1, random_state=0)

In [9]:
normalizer = preprocessing.Normalization()
normalizer.adapt(X_train.to_numpy())

model = tf.keras.Sequential()

# add preprocessor
model.add(normalizer)

In [10]:
# input layers
model.add(layers.Dense(5, input_shape=(5,), activation='relu'))

# hidden layers

model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(10, activation='relu'))

# output layers
model.add(layers.Dense(7, activation='softmax'))

model.compile(optimizer=tf.optimizers.Adam(learning_rate=0.1), loss='categorical_crossentropy', metrics=['accuracy'])

history = model.fit(X_train, y_train, validation_split=0.2, epochs=20)

Epoch 1/20
132/132 [==============================] - 4s 24ms/step - loss: 1.1869 - accuracy: 0.6483 - val_loss: 1.1344 - val_accuracy: 0.6390
Epoch 2/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0704 - accuracy: 0.6772 - val_loss: 1.1369 - val_accuracy: 0.6390
Epoch 3/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0851 - accuracy: 0.6666 - val_loss: 1.1286 - val_accuracy: 0.6390
Epoch 4/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0792 - accuracy: 0.6771 - val_loss: 1.1550 - val_accuracy: 0.6390
Epoch 5/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0976 - accuracy: 0.6663 - val_loss: 1.1295 - val_accuracy: 0.6390
Epoch 6/20
132/132 [==============================] - 0s 3ms/step - loss: 1.1227 - accuracy: 0.6604 - val_loss: 1.1425 - val_accuracy: 0.6390
Epoch 7/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0914 - accuracy: 0.6677 - val_loss: 1.1283 - val_accuracy: 0.6390
Epoch 8/20
132/132 [==============================] - 1s 4ms/step - loss: 1.0787 - accuracy: 0.6772 - val_loss: 1.1292 - val_accuracy: 0.6390
Epoch 9/20
132/132 [==============================] - 1s 4ms/step - loss: 1.1095 - accuracy: 0.6691 - val_loss: 1.1229 - val_accuracy: 0.6390
Epoch 10/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0844 - accuracy: 0.6773 - val_loss: 1.1394 - val_accuracy: 0.6390
Epoch 11/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0864 - accuracy: 0.6747 - val_loss: 1.1298 - val_accuracy: 0.6390
Epoch 12/20
132/132 [==============================] - 0s 3ms/step - loss: 1.1084 - accuracy: 0.6620 - val_loss: 1.1289 - val_accuracy: 0.6390
Epoch 13/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0864 - accuracy: 0.6722 - val_loss: 1.1230 - val_accuracy: 0.6390
Epoch 14/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0958 - accuracy: 0.6654 - val_loss: 1.1601 - val_accuracy: 0.6390
Epoch 15/20
132/132 [==============================] - 0s 4ms/step - loss: 1.1017 - accuracy: 0.6661 - val_loss: 1.1319 - val_accuracy: 0.6390
Epoch 16/20
132/132 [==============================] - 0s 4ms/step - loss: 1.0677 - accuracy: 0.6816 - val_loss: 1.1246 - val_accuracy: 0.6390
Epoch 17/20
132/132 [==============================] - 0s 4ms/step - loss: 1.1002 - accuracy: 0.6663 - val_loss: 1.1317 - val_accuracy: 0.6390
Epoch 18/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0809 - accuracy: 0.6754 - val_loss: 1.1265 - val_accuracy: 0.6390
Epoch 19/20
132/132 [==============================] - 0s 3ms/step - loss: 1.0995 - accuracy: 0.6748 - val_loss: 1.1241 - val_accuracy: 0.6390
Epoch 20/20
132/132 [==============================] - 0s 3ms/step - loss: 1.1164 - accuracy: 0.6633 - val_loss: 1.1456 - val_accuracy: 0.6390

In [27]:
result

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
0,3,6,6,2,5,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,3,6,1,3,4,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,2,5,5,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,3,6,6,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,4,6,3,5,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5,6,6,5,5,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5828,1,3,1,2,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5829,1,1,5,5,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5830,3,3,6,4,2,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5831,5,2,1,1,5,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [28]:
result['label'].value_counts()

nothing            3868
three-of-a-kind     896
small-straight      549
full-house          221
large-straight      178
four-of-a-kind      116
yathzee               4
Name: label, dtype: int64

In [47]:
from sklearn.utils import resample

df_minority = result.loc[result[6] == 1]
df_minority_missed =  pd.DataFrame([[1, 1, 1, 1, 1, 'yathzee', 0, 0, 0, 0, 0, 0, 1], 
                                    [4, 4, 4, 4, 4, 'yathzee', 0, 0, 0, 0, 0, 0, 1]],
                                   columns=['dice1', 'dice2', 'dice3', 'dice4', 'dice5', 'label', 0, 1, 2, 3, 4, 5, 6])

df_minority = pd.concat([df_minority, df_minority_missed])
df_minority

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1101,5,5,5,5,5,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5504,3,3,3,3,3,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [48]:
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_minority_upsampled

result_balanced = df_minority_upsampled

In [49]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [50]:
df_minority = result.loc[result[0] == 1]
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_minority_upsampled

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
5503,3,3,3,5,3,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3164,5,5,5,5,4,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4759,4,6,6,6,6,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5156,1,1,1,4,1,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5295,3,6,3,3,3,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,6,6,5,6,6,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2617,4,4,4,4,5,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
52,1,1,6,1,1,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4514,2,5,2,2,2,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1202,6,4,6,6,6,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
result_balanced = pd.concat([result_balanced, df_minority_upsampled])

In [52]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,6,6,5,6,6,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2617,4,4,4,4,5,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
52,1,1,6,1,1,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4514,2,5,2,2,2,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1202,6,4,6,6,6,four-of-a-kind,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df_minority = result.loc[result[2] == 1]
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_minority_upsampled

result_balanced = pd.concat([result_balanced, df_minority_upsampled])

In [54]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,2,4,3,5,6,large-straight,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3358,2,5,3,6,4,large-straight,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4323,2,3,5,4,6,large-straight,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4563,4,3,1,5,2,large-straight,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1024,3,5,6,4,2,large-straight,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [55]:
df_minority = result.loc[result[1] == 1]
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_minority_upsampled

result_balanced = pd.concat([result_balanced, df_minority_upsampled])

In [56]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5122,6,6,2,6,2,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
78,6,1,1,6,6,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2659,6,6,4,4,6,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4921,5,1,5,1,5,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5122,6,6,2,6,2,full-house,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [57]:
df_majority = result.loc[result[4] == 1]
df_majority_upsampled = resample(df_majority, 
                                 replace=False,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_majority_upsampled

result_balanced = pd.concat([result_balanced, df_majority_upsampled])

In [58]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,3,6,5,4,6,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1757,2,4,3,1,4,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5171,1,6,3,4,2,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5618,5,6,3,4,5,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5473,4,3,2,1,1,small-straight,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [59]:
df_majority = result.loc[result[5] == 1]
df_majority_upsampled = resample(df_majority, 
                                 replace=False,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_majority_upsampled

result_balanced = pd.concat([result_balanced, df_majority_upsampled])

In [60]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4600,4,4,3,4,2,three-of-a-kind,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3825,5,1,4,5,5,three-of-a-kind,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1550,6,5,5,1,5,three-of-a-kind,0.0,0.0,0.0,0.0,0.0,1.0,0.0
782,2,4,2,1,2,three-of-a-kind,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3062,4,4,2,4,5,three-of-a-kind,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [61]:
df_majority = result.loc[result[3] == 1]
df_majority_upsampled = resample(df_majority, 
                                 replace=False,     # sample with replacement
                                 n_samples=500,    # to match majority class
                                 random_state=123) # reproducible results

df_majority_upsampled

result_balanced = pd.concat([result_balanced, df_majority_upsampled])

In [62]:
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
1,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1602,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1180,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4485,4,4,5,3,2,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2074,6,5,1,3,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3504,4,1,6,5,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5108,6,3,4,4,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4736,6,2,2,4,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [63]:
result_balanced = result_balanced.reset_index().drop(columns=['index'])
result_balanced

,dice1,dice2,dice3,dice4,dice5,label,0,1,2,3,4,5,6
0,4,4,4,4,4,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1,1,1,1,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,6,6,6,6,6,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2,2,2,2,2,yathzee,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,4,4,5,3,2,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3496,6,5,1,3,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3497,4,1,6,5,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3498,6,3,4,4,3,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3499,6,2,2,4,1,nothing,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [65]:
X_train, X_test, y_train, y_test = train_test_split(
        result_balanced[features], result_balanced[outputs], test_size=0.1, random_state=0)

normalizer = preprocessing.Normalization()
normalizer.adapt(X_train.to_numpy())

model = tf.keras.Sequential()

# add preprocessor
model.add(normalizer)

# input layers
model.add(layers.Dense(5, input_shape=(5,), activation='relu'))

# hidden layers

model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(10, activation='relu'))

# output layers
model.add(layers.Dense(7, activation='softmax'))

model.compile(optimizer=tf.optimizers.Adam(learning_rate=0.1), loss='categorical_crossentropy', metrics=['accuracy'])

history = model.fit(X_train, y_train, validation_split=0.2, epochs=50)

Epoch 1/50
79/79 [==============================] - 1s 4ms/step - loss: 1.9024 - accuracy: 0.1936 - val_loss: 1.7842 - val_accuracy: 0.2397
Epoch 2/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7800 - accuracy: 0.2672 - val_loss: 1.7505 - val_accuracy: 0.2889
Epoch 3/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7623 - accuracy: 0.2508 - val_loss: 1.7428 - val_accuracy: 0.3016
Epoch 4/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7626 - accuracy: 0.2868 - val_loss: 1.7554 - val_accuracy: 0.2333
Epoch 5/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7530 - accuracy: 0.2715 - val_loss: 1.7176 - val_accuracy: 0.2302
Epoch 6/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7357 - accuracy: 0.2686 - val_loss: 1.7915 - val_accuracy: 0.1952
Epoch 7/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7769 - accuracy: 0.2674 - val_loss: 1.7765 - val_accuracy: 0.2063
Epoch 8/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7750 - accuracy: 0.2608 - val_loss: 1.7051 - val_accuracy: 0.3159
Epoch 9/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7565 - accuracy: 0.2545 - val_loss: 1.7661 - val_accuracy: 0.2444
Epoch 10/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7975 - accuracy: 0.2386 - val_loss: 1.8736 - val_accuracy: 0.1873
Epoch 11/50
79/79 [==============================] - 0s 2ms/step - loss: 1.8543 - accuracy: 0.2038 - val_loss: 1.8205 - val_accuracy: 0.2603
Epoch 12/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7516 - accuracy: 0.2587 - val_loss: 1.7864 - val_accuracy: 0.2571
Epoch 13/50
79/79 [==============================] - 0s 2ms/step - loss: 1.7407 - accuracy: 0.2625 - val_loss: 1.7218 - val_accuracy: 0.2349
Epoch 14/50
79/79 [==============================] - 0s 2ms/step - loss: 1.6832 - accuracy: 0.2543 - val_loss: 1.7287 - val_accuracy: 0.2794
Epoch 15/50
79/79 [==============================] - 0s 2ms/step - loss: 1.6485 - accuracy: 0.2869 - val_loss: 1.6287 - val_accuracy: 0.2683
Epoch 16/50
79/79 [==============================] - 0s 2ms/step - loss: 1.6342 - accuracy: 0.2953 - val_loss: 1.6731 - val_accuracy: 0.2413
Epoch 17/50
79/79 [==============================] - 0s 2ms/step - loss: 1.6382 - accuracy: 0.2806 - val_loss: 1.6110 - val_accuracy: 0.2984
Epoch 18/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5556 - accuracy: 0.3090 - val_loss: 1.6045 - val_accuracy: 0.2698
Epoch 19/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5582 - accuracy: 0.2890 - val_loss: 1.5940 - val_accuracy: 0.2794
Epoch 20/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5575 - accuracy: 0.3110 - val_loss: 1.5842 - val_accuracy: 0.3095
Epoch 21/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5583 - accuracy: 0.3010 - val_loss: 1.5547 - val_accuracy: 0.3127
Epoch 22/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5135 - accuracy: 0.3333 - val_loss: 1.5851 - val_accuracy: 0.3048
Epoch 23/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5860 - accuracy: 0.3134 - val_loss: 1.6134 - val_accuracy: 0.2794
Epoch 24/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5482 - accuracy: 0.3307 - val_loss: 1.5621 - val_accuracy: 0.3254
Epoch 25/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5339 - accuracy: 0.3118 - val_loss: 1.6170 - val_accuracy: 0.2905
Epoch 26/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5964 - accuracy: 0.3022 - val_loss: 1.6030 - val_accuracy: 0.2984
Epoch 27/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5108 - accuracy: 0.3479 - val_loss: 1.6179 - val_accuracy: 0.2651
Epoch 28/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5394 - accuracy: 0.3060 - val_loss: 1.6521 - val_accuracy: 0.2905
Epoch 29/50
79/79 [==============================] - 0s 2ms/step - loss: 1.4994 - accuracy: 0.3572 - val_loss: 1.5902 - val_accuracy: 0.2921
Epoch 30/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5219 - accuracy: 0.3193 - val_loss: 1.6394 - val_accuracy: 0.3111
Epoch 31/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5206 - accuracy: 0.3389 - val_loss: 1.6305 - val_accuracy: 0.2762
Epoch 32/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5592 - accuracy: 0.3141 - val_loss: 1.5903 - val_accuracy: 0.2841
Epoch 33/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5243 - accuracy: 0.3239 - val_loss: 1.5922 - val_accuracy: 0.3063
Epoch 34/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5160 - accuracy: 0.3298 - val_loss: 1.6854 - val_accuracy: 0.1714
Epoch 35/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5912 - accuracy: 0.2775 - val_loss: 1.5631 - val_accuracy: 0.3238
Epoch 36/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5297 - accuracy: 0.3332 - val_loss: 1.5816 - val_accuracy: 0.2952
Epoch 37/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5214 - accuracy: 0.3263 - val_loss: 1.5897 - val_accuracy: 0.3016
Epoch 38/50
79/79 [==============================] - 0s 2ms/step - loss: 1.4997 - accuracy: 0.3502 - val_loss: 1.5553 - val_accuracy: 0.3190
Epoch 39/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5266 - accuracy: 0.3231 - val_loss: 1.5819 - val_accuracy: 0.2857
Epoch 40/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5532 - accuracy: 0.3254 - val_loss: 1.6116 - val_accuracy: 0.2714
Epoch 41/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5475 - accuracy: 0.3007 - val_loss: 1.5621 - val_accuracy: 0.2762
Epoch 42/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5080 - accuracy: 0.3256 - val_loss: 1.5860 - val_accuracy: 0.3079
Epoch 43/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5385 - accuracy: 0.3083 - val_loss: 1.5989 - val_accuracy: 0.3079
Epoch 44/50
79/79 [==============================] - 0s 2ms/step - loss: 1.4965 - accuracy: 0.3357 - val_loss: 1.5468 - val_accuracy: 0.3063
Epoch 45/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5392 - accuracy: 0.3251 - val_loss: 1.7608 - val_accuracy: 0.2952
Epoch 46/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5172 - accuracy: 0.3422 - val_loss: 1.5640 - val_accuracy: 0.3127
Epoch 47/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5038 - accuracy: 0.3365 - val_loss: 1.6232 - val_accuracy: 0.2714
Epoch 48/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5532 - accuracy: 0.3167 - val_loss: 1.6186 - val_accuracy: 0.2905
Epoch 49/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5295 - accuracy: 0.3154 - val_loss: 1.5841 - val_accuracy: 0.2762
Epoch 50/50
79/79 [==============================] - 0s 2ms/step - loss: 1.5040 - accuracy: 0.3273 - val_loss: 1.6285 - val_accuracy: 0.2762